html{
    box-sizing:border-box;
    font-size:62.5%;
}
html,body{
    height: 100%;
    max-height: 100%; 
    margin:0;
    padding:0;
    background-color:black;
}
.container{
    width: 100%;
    max-width: 100%;
}

.row{
    display:flex;
    flex-direction: row; 
    flex-shrink: 1; 
}
.col-12{
    width:100%;
}
.col-8{
    width: 66.66667%;  
}
.col-6{
    width: 30%;   
}
.col-4{
    width: 33.33333%; 
}
.col-2{
    width:16.66667%; 
}
.col-1{
    width:8.33333%;
}
.col-auto{ 
    min-height: calc(100vh/6);
    min-width: calc(100vw/7); 
}
.col-12,.col-8,.col-6,.col-4,.col-2,.col-1
{
    min-height:20px;
} 
@media only screen and (min-width: 500px) and (max-width:900px){
    .red-md{
        background-color:rgb(173, 9, 9);
        color:white;
    }
    .black-md{
        background-color: #000000;
        color: white;
    }
    .r-tr-md{
        border-top-right-radius:30%;
    }
    .r-br-md{
        border-bottom-right-radius:30%;
    }
    .r-tl-md{
        border-top-left-radius:30%;
    }
    .r-bl-md{
        border-bottom-left-radius:30%;
    }
} 
@media only screen and (max-width: 500px){
    .red-sm{
        background-color:rgb(173, 9, 9);
        color:white;
    }
    .black-sm{
        background-color: #000000;
        color: white;
    }
    .r-tr-sm{
        border-top-right-radius:30%;
    }
    .r-br-sm{
        border-bottom-right-radius:30%;
    }
    .r-tl-sm{
        border-top-left-radius:30%;
    }
    .r-bl-sm{
        border-bottom-left-radius:30%;
    }
}
@media only screen and (min-width:900px){
    .red-lg{
        background-color:rgb(173, 9, 9);
        color:white;
    }
    .black-lg{
        background-color: #000000;
        color: white;
    }
    .r-tr-lg{
        border-top-right-radius:30%;
    }
    .r-br-lg{
        border-bottom-right-radius:30%;
    }
    .r-tl-lg{
        border-top-left-radius:30%;
    }
    .r-bl-lg{
        border-bottom-left-radius:30%;
    }
}
