<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For a cute person</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row"> 
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
        </div>  
        <div class="row"> 
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 red-lg black-md red-sm"></div>
            <div class="col-1 red-lg red-md black-sm"></div>
            <div class="col-1 red-lg black-md black-sm"></div>
            <div class="col-1 red-lg red-md black-sm"></div>
            <div class="col-1 red-lg black-md red-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
        </div>  
        <div class="row"> 
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg red-md red-sm"></div>
            <div class="col-1 black-lg red-md black-sm"></div>
            <div class="col-1 red-lg red-md black-sm"></div>
            <div class="col-1 black-lg red-md black-sm"></div>
            <div class="col-1 black-lg red-md red-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
        </div>  
        <div class="row"> 
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md red-sm"></div>
            <div class="col-1 black-lg red-md black-sm"></div>
            <div class="col-1 red-lg red-md black-sm"></div>
            <div class="col-1 black-lg red-md black-sm"></div>
            <div class="col-1 black-lg black-md red-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
        </div>  
        <div class="row"> 
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 red-lg black-md red-sm"></div>
            <div class="col-1 red-lg black-md red-sm"></div>
            <div class="col-1 red-lg red-md red-sm"></div>
            <div class="col-1 red-lg black-md red-sm"></div>
            <div class="col-1 red-lg black-md red-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
        </div>  
        <div class="row"> 
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
            <div class="col-1 black-lg black-md black-sm"></div>
        </div>  
    </div>
</body>
</html>