<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For a cute person</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- row 1-->
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 1 START-->
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 4 CENTER-->
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 7 FIN-->
        </div>

        <div class="row">
            <!-- row 2-->
            <div class="col-auto black-lg black-mdblack-sm"></div><!-- col 1 START-->
            <div class="red-md">
                <div class="col-auto black-lg black-md r-br-md red-sm r-tl-sm r-tr-sm"></div>
            </div>
            <div class="col-auto red-lg r-tl-lg r-bl-lg red-md r-tl-md r-tr-md black-sm"></div>
            <div class="red-md">
                <div class="col-auto red-lg black-md r-bl-md r-br-md black-sm"></div><!-- col 4 CENTER-->
            </div>
            <div class="col-auto red-lg r-tr-lg r-br-lg red-md r-tl-md r-tr-md black-sm"></div>
            <div class="red-md">
                <div class="col-auto black-lg black-md r-bl-md red-sm r-tl-sm r-tr-sm"></div>
            </div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 7 FIN-->
        </div>

        <div class="row">
            <!-- row 3-->
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 1 START-->
            <div class="col-auto black-lg red-md r-bl-md r-tl-md red-sm"></div>
            <div class="red-lg">
                <div class="col-auto black-lg r-tr-lg red-md black-sm"></div>
            </div>
            <div class="col-auto red-lg red-md black-sm"></div><!-- col 4 CENTER-->
            <div class="red-lg">
                <div class="col-auto black-lg r-tl-lg red-md black-sm"></div>
            </div>
            <div class="col-auto black-lg red-md r-br-md r-tr-md red-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 7 FIN-->
        </div>

        <div class="row">
            <!-- row 4-->
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 1 START-->
            <div class="red-md">
                <div class="col-auto black-lg black-md r-tr-md red-sm"></div>
            </div>
            <div class="red-lg red-sm">
                <div class="col-auto black-lg r-br-lg red-md r-bl-md black-sm r-bl-sm"></div>
            </div>
            <div class="col-auto red-lg red-md black-sm"></div><!-- col 4 CENTER-->
            <div class="red-lg red-sm">
                <div class="col-auto black-lg r-bl-lg red-md r-br-md  black-sm r-br-sm"></div>
            </div>
            <div class="red-md">
                <div class="col-auto black-lg black-md r-tl-md red-sm"></div>
            </div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 7 FIN-->
        </div>

        <div class="row">
            <!-- row 5-->
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 1 START-->
            <div class="col-auto black-lg black-md red-sm r-bl-sm"></div>
            <div class="red-md">
                <div class="col-auto red-lg r-tl-lg r-bl-lg black-md r-tr-md red-sm"></div>
            </div>
            <div class="col-auto red-lg red-md r-bl-md r-br-md red-sm"></div><!-- col 4 CENTER-->
            <div class="red-md">
                <div class="col-auto r-tr-lg r-br-lg red-lg black-md r-tl-md red-sm"></div>
            </div>
            <div class="col-auto black-lg black-md red-sm r-br-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 7 FIN-->
        </div>

        <div class="row">
            <!-- row 6-->
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 1 START-->
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 4 CENTER-->
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div>
            <div class="col-auto black-lg black-md black-sm"></div><!-- col 7 FIN-->
        </div>
    </div>
</body>

</html>